#wrapper {
  background: $white;
  overflow: hidden;

  .breadcrumb {
    padding-block: 1em;
    background: transparent;
    background: $gray;
    position: relative;
    width: 120vw;
    left: -20vw;
    &[data-depth="1"] {
      display: none;
    }

    ol {
      width: 70%;
      margin-inline: auto;
      padding-left: 0;
      margin-bottom: 0;
      font-size: 0.75em;
      font-weight: 600;
    }

    li {
      display: inline;

      &::after {
        margin: 0.3125rem;
        color: $black;
        content: "/";
      }

      &:last-child {
        margin: 0;
        color: $black;
        content: "/";

        &::after {
          content: "";
        }
      }

      a {
        color: $gray-darker;
      }
    }
  }
}
